rehearsal/resource/SM4.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://simplestorews.vvws.choreos.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://simplestorews.vvws.choreos.eu/" name="SimpleStoreWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://simplestorews.vvws.choreos.ime.usp.br/" schemaLocation="http://localhost:1234/SimpleStore?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://simplestorews.vvws.choreos.eu/" schemaLocation="http://localhost:1234/SimpleStore?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="searchByArtist">
<part name="parameters" element="tns:searchByArtist"></part>
</message>
<message name="searchByArtistResponse">
<part name="parameters" element="tns:searchByArtistResponse"></part>
</message>
<message name="searchByGenre">
<part name="parameters" element="tns:searchByGenre"></part>
</message>
<message name="searchByGenreResponse">
<part name="parameters" element="tns:searchByGenreResponse"></part>
</message>
<message name="searchByTitle">
<part name="parameters" element="tns:searchByTitle"></part>
</message>
<message name="searchByTitleResponse">
<part name="parameters" element="tns:searchByTitleResponse"></part>
</message>
<message name="purchase">
<part name="parameters" element="tns:purchase"></part>
</message>
<message name="purchaseResponse">
<part name="parameters" element="tns:purchaseResponse"></part>
</message>
<message name="cancelPurchase">
<part name="parameters" element="tns:cancelPurchase"></part>
</message>
<message name="cancelPurchaseResponse">
<part name="parameters" element="tns:cancelPurchaseResponse"></part>
</message>
<message name="sendPurchaseFeedback">
<part name="parameters" element="tns:sendPurchaseFeedback"></part>
</message>
<portType name="SimpleStoreWS">
<operation name="searchByArtist">
<input message="tns:searchByArtist"></input>
<output message="tns:searchByArtistResponse"></output>
</operation>
<operation name="searchByGenre">
<input message="tns:searchByGenre"></input>
<output message="tns:searchByGenreResponse"></output>
</operation>
<operation name="searchByTitle">
<input message="tns:searchByTitle"></input>
<output message="tns:searchByTitleResponse"></output>
</operation>
<operation name="purchase">
<input message="tns:purchase"></input>
<output message="tns:purchaseResponse"></output>
</operation>
<operation name="cancelPurchase">
<input message="tns:cancelPurchase"></input>
<output message="tns:cancelPurchaseResponse"></output>
</operation>
<operation name="sendPurchaseFeedback">
<input message="tns:sendPurchaseFeedback"></input>
</operation>
</portType>
<binding name="SimpleStoreWSPortBinding" type="tns:SimpleStoreWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="searchByArtist">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="searchByGenre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="searchByTitle">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="purchase">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cancelPurchase">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="sendPurchaseFeedback">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
</operation>
</binding>
<service name="SimpleStoreWSService">
<port name="SimpleStoreWSPort" binding="tns:SimpleStoreWSPortBinding">
<soap:address location="http://localhost:1234/SimpleStore"></soap:address>
</port>
</service>
</definitions>