rehearsal/resource/sm_plus.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://choreos.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://choreos.eu/" name="SmPlusService">
<types>
<xs:schema xmlns:tns="http://choreos.eu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://choreos.eu/">
<xs:element name="getPrice" type="tns:getPrice"/>
<xs:element name="getPriceResponse" type="tns:getPriceResponse"/>
<xs:element name="getProductStatus" type="tns:getProductStatus"/>
<xs:element name="getProductStatusResponse" type="tns:getProductStatusResponse"/>
<xs:element name="getSpecialOffer" type="tns:getSpecialOffer"/>
<xs:element name="getSpecialOfferResponse" type="tns:getSpecialOfferResponse"/>
<xs:element name="purchase" type="tns:purchase"/>
<xs:element name="purchaseResponse" type="tns:purchaseResponse"/>
<xs:complexType name="getProductStatus">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getProductStatusResponse">
<xs:sequence>
<xs:element name="return" type="tns:status" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="status">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="purchase">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="units" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="purchaseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSpecialOffer">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getSpecialOfferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPrice">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPriceResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="getPrice">
<part name="parameters" element="tns:getPrice"></part>
</message>
<message name="getPriceResponse">
<part name="parameters" element="tns:getPriceResponse"></part>
</message>
<message name="purchase">
<part name="parameters" element="tns:purchase"></part>
</message>
<message name="purchaseResponse">
<part name="parameters" element="tns:purchaseResponse"></part>
</message>
<message name="getSpecialOffer">
<part name="parameters" element="tns:getSpecialOffer"></part>
</message>
<message name="getSpecialOfferResponse">
<part name="parameters" element="tns:getSpecialOfferResponse"></part>
</message>
<message name="getProductStatus">
<part name="parameters" element="tns:getProductStatus"></part>
</message>
<message name="getProductStatusResponse">
<part name="parameters" element="tns:getProductStatusResponse"></part>
</message>
<portType name="SmPlus">
<operation name="getPrice">
<input message="tns:getPrice"></input>
<output message="tns:getPriceResponse"></output>
</operation>
<operation name="purchase">
<input message="tns:purchase"></input>
<output message="tns:purchaseResponse"></output>
</operation>
<operation name="getSpecialOffer">
<input message="tns:getSpecialOffer"></input>
<output message="tns:getSpecialOfferResponse"></output>
</operation>
<operation name="getProductStatus">
<input message="tns:getProductStatus"></input>
<output message="tns:getProductStatusResponse"></output>
</operation>
</portType>
<binding name="SmPlusPortBinding" type="tns:SmPlus">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getPrice">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="purchase">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSpecialOffer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getProductStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SmPlusService">
<port name="SmPlusPort" binding="tns:SmPlusPortBinding">
<soap:address location="http://localhost:1234/smplus"></soap:address>
</port>
</service>
</definitions>
